body {
    background-image: url('../images/white_brick_wall.png');
}

/** About Me **/
.mdl-cell__aboutMe-profile-picture {
    max-width:150px;
    width:100%;
    display:block;
    margin: 0 auto;
    border-radius:50%;
}

.mdl-cell__aboutMe-title {
    text-align:center;
    font-size:3rem;
    color:rgb(255,110,64);
    margin:0;
}

.mdl-cell__aboutMe-category {
    text-align:center;
    font-size:2rem;
    color:rgb(255,110,64);
}

.mdl-cell__aboutMe-text {
    margin:0 auto 50px;
    font-size: 1.5rem;
    line-height:2;
    text-align:center;
    color:#424242;
}

/** Drawer Styles**/
.mdl-layout__drawer {
    background-image: url('../images/dark_brick_wall.png');
    color:rgb(255,110,64);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color:white;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    color:#424242;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    margin-top:20px;
    color:#fff;
}

.mdl-mini-footer {
  box-sizing:border-box;
  position:absolute;
  bottom:0;
  width:100%;
}

/** Tabs Styles**/
.nav-bar {
    display:block;
}

.nav-bar__inner {
    width:90%;
    margin:15px auto;
    text-align:center;
}

.nav-tab__container {
    float:left;
    width:50%;
    margin:10px auto;
    padding-bottom:10px;
}

.nav-tab {
    padding: 15px;
    text-decoration: none;
    color:#fff;
    font-size :0.90rem;
}

.nav-tab:hover {
    color:rgb(255,110,64);
}

.nav-tab-active {
    border-bottom: 1px black solid;
    color:#424242;
}

/** Card Styles**/
.mdl-card {
    width:90%;
    margin: 0 auto;
}

.mdl-card__title--link {
 text-decoration: none;   
}

.mdl-card__title {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.mdl-card__title-text {
    color: white;
    padding:10px;
    background-color:rgb(158,158,158);
}

.mdl-card_school-text {
    color: rgb(255,110,64);
}

/** Desktop Styles**/
@media (min-width: 815px) {
    .nav-tab__container {
            width:20%;
    }
    .mdl-cell__aboutMe-text { 
        width: 80%;
    }
}