body {
    background-image: url('../images/white_brick_wall.png');
}

/** About Me **/
.mdl-card.mdl-card-aboutMe {
    margin: 20px auto;
    max-width:650px;
}

.mdl-card__title-aboutMe {
    padding:40 0px;
}

.mdl-cell__aboutMe-profile-picture {
    max-width:250px;
    width:100%;
    display:block;
    margin: 0 auto;
    border-radius:50%;
    padding-top:20px;
}

.mdl-cell__aboutMe-title {
    text-align:center;
    font-size:3rem;
    color:rgb(255,110,64);
    margin:10px auto;
    padding-bottom:20px;
    border-bottom: 1px dashed black;
}

.mdl-cell__aboutMe-text {
    font-size: 1.3rem;
    line-height:1.7;
    color:#424242;
    text-align:center;
    padding:3%;
    margin-bottom:0;
}

.mdl-cell__aboutMe-subHeading {
    text-align:center;
    border-bottom:1px dashed rgb(255,110,64);
    width:75%;
    display:block;
    padding-bottom:10px;
    margin:0 auto 20px;
}

.mdl-cell__aboutMe-list {
    list-style:none;
    text-align:center;
    padding-left:3%;
    padding-right:3%;
    margin-top:0;
}

.mdl-cell__aboutMe-skillsBox {
    display:inline-block;
    padding:5px;
    margin: 8px;
    border-radius:10px;
    border:1px solid black;
}

/** Drawer Styles**/
.mdl-layout__drawer>.mdl-layout__title, .mdl-layout__drawer>.mdl-layout-title {
    padding-left:0;
    line-height: 1;
    padding-top:20px;
    text-align:center;
}

.mdl-layout-subtitle {
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(158,158,158);
    font-size: 0.95rem;
}

.mdl-layout__drawer {
    background-image: url('../images/dark_brick_wall.png');
    color:rgb(255,110,64);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color:white;
    transition: all 0.4s ease-in-out;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    color:#424242;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    margin-top:20px;
    color:#fff;
}

.mdl-layout-spacer-vertical {
    height:40px;
}

.resume-box {
    width:60%;
    margin:0 auto 20px;
    display:block;
    transition: all 0.4s ease-in-out;
}

.resume-box:hover {
    transform: scale(1.2);
}

/** Tabs Styles**/

.mdl-layout__header {
   background-color: rgb(158,158,158); 
   background-color: rgba(158,158,158,.65); 
    text-align:center;
    
}

.mdl-layout__header-title,
.mdl-layout__header-subtitle {
    text-shadow: 2px 2px 6px rgba(150, 150, 150, 1);
}

.mdl-layout__header-title {
    margin-bottom:0;
}

.mdl-layout__header-subtitle {
    margin:0 0 10px 0;
    color:gray;
    font-size:2em;
}

.nav-bar {
    display:block;
}

.nav-bar__inner {
    width:90%;
    margin:15px auto;
    text-align:center;
}

.nav-tab__container {
    float:left;
    width:19%;
    margin:50px auto 10px;
    padding-bottom:10px;

}

.nav-tab {
    padding-bottom:10px;
    text-decoration: none;
    color:#fff;
    font-size :0.95rem;
    transition: all 0.4s ease-in-out;
}

.nav-tab:hover {
    color:rgb(255,110,64);
}


.nav-tab-active {
    border-bottom: 1px black solid;
    color:#424242;
}

.side-list-divider {
    text-align:center;
    display:block;
    margin:0 auto;
    border-bottom: 1px white dashed;
    width:75%;
}

/** Card Styles**/
.project-section {
    text-align:center;
    border-bottom:1px dashed black;
    width:75%;
    font-size: 2em;
    display:block;
    padding-bottom:10px;
    margin:0 auto 20px; 
}

.project-section h3 {
    color : rgb(255,110,64);
    font-size:1em;
}

.mdl-card {
    width:90%;
    margin: 0 auto;
}

.mdl-card__title--link {
 text-decoration: none;   
}

.mdl-card__title {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.mdl-card__title-text {
    color: white;
    padding:10px;
    background-color:rgb(158,158,158);
}

.mdl-card_school-text {
    color: rgb(255,110,64);
}

/** tablet Styles**/
@media (min-width: 479px) {
    .nav-tab__container {
            width: 50%;
            margin: 5px auto
    }
}


/** Desktop Styles**/
@media (min-width: 930px) {
    .nav-tab__container {
            width:19%;
            margin:10px auto;            
            border-right:1px dashed rgb(255,110,64);
    }
    .last-container {
            border-right:none;
    }    
}